- @title = "Sample Application"

#container
  #header
    %h1
      Sample Application
  #main
    Hello
  #footer

= haml :"partial/jquery"
%script(src="/js/plugins.js")
%script(src="/js/script.js")

= haml :"partial/ie6png"
= haml :"partial/analytics"
